# This is a template file for ~/.gitconfig
[user]
	name = <name>
	email = <email>
	signingkey = ~/.ssh/<signingkey>.pub
[gpg]
	format = ssh
[commit]
	# enable commit signing
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
	# for more information on ~/.ssh/allowed_signers
	# check out https://docs.gitlab.com/ee/user/project/repository/signed_commits/ssh.html#verify-commits-locally
[pull]
	# merging strategy for pull
	rebase = false
[alias]
	cat = cat-file -p
	ls = ls-files
